---
---

@import "{{ site.theme }}";

/* ------------------------------------------------------------------------
-   SASS variables.
-------------------------------------------------------------------------*/

$color-0: #d1d1d1; /* Page background */
$color-1: #3e648a; /* Title background */
$color-2: #34495e; /* Description background */
$color-3: #f2f2f2; /* Main text body background */
$color-4: #7f8c8d; /* Main menu background */

$font-stack: "Avenir", sans-serif;
$font-size: 18px;

